html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background-color: #B5B4B4;
}

#choice {
	border-radius: 15px;
    background-color: #22AE6A;
    width: 462px;
    height: 352px;
    margin-right: 32px;
    margin-left: 479px;
    clear: both;
    padding-right: 32px;
    margin-bottom: 60px;
    margin-top: 27px;
    padding-top: 20px;
    padding-bottom: 48px;
    padding-left: 39px;
    /*+placement: 22px 14px;*/
    position: relative;
    left: 22px;
    top: 14px;
    font-family: "Arial",sans-serif;
    font-style: italic;
    font-weight: lighter;
    text-align: left;
    background-position: 5px -3px;
    color: #3E3E3E;
}

#submit {
	border-radius: 15px;
    height: 380px;
    width: 247px;
    margin-right: 0px;
    padding: 20px;
    background-color: #22AE6A;
    margin-top: -466px;
    margin-left: 122px;
    margin-bottom: -7px;
    border-bottom: 0px solid black;
    border: 0px solid black;
    color: #3E3E3E;
    /*+placement: 12px 0px;*/
    position: relative;
    left: 12px;
    top: 0px;
}

.button {
	margin-top: 30px;
	width: 245px;
	border-radius: 10px;
    background-color: white; /* Green */
    border: none;
    color: #22AE6A;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.budget{
	margin-top: 35px;
	margin-left: 50px;
	margin-left: 50px;
}
