<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<form method="post">
    <p><input type="text" name="coord_x"></p>
    <p><input type="text" name="coord_y"></p>
    <p><input name="hello" type="checkbox"  value="val1"/> product1 </p>
    <p><input name="hello" type="checkbox"  value="val2"/> product2 </p>
    <p><input name="hello" type="checkbox"  value="val3"/> product3 </p>
    <p><input name="hello" type="checkbox"  value="val4"/> product4 </p>
    <p><input name="hello" type="checkbox"  value="val5"/> product5 </p>
    <p><input name="hello" type="checkbox"  value="val6"/> product6 </p>
    <p><input name="hello" type="checkbox"  value="val7"/> product7 </p>
    <p><input name="hello" type="checkbox"  value="val8"/> product8 </p>
    <p><input name="hello" type="checkbox"  value="val9"/> product9 </p>
    <p><input name="hello" type="checkbox"  value="val10"/> product10 </p>
<select name="case">
      <option value="default" disabled="disabled" selected="selected"></option>
      <option value="poor" >poor</option>
      <option value="lazy">lazy</option>
      <option value="optimal">optimal</option>
</select>
<input type="submit" name="submit" value="Submit">
</form>
</body>
</html>