<!DOCTYPE html>
<html lang="en">
<head>
    <!--<link rel="stylesheet"  href= "{{ url_for('static',filename='styles.css') }}">-->
    <link rel="stylesheet"  href= "/Users/apple/PycharmProjects/project_algorithms/static/styles.css">
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<form method="post">

    <div id="choice">
        <p>
            <input name ="input" type ="checkbox" value ="val1"/> apple
            <input name ="input" type ="checkbox" value ="val2"/> banana
            <input name ="input" type ="checkbox" value ="val3"/> carrot
            <input name ="input" type ="checkbox" value ="val4"/> garlic
            <input name ="input" type ="checkbox" value ="val5"/> lemon
        </p>
        <p>
            <input name ="input" type ="checkbox" value ="val6"/> mushroom
            <input name ="input" type ="checkbox" value ="val7"/> orange
            <input name ="input" type ="checkbox" value ="val8"/> pea
            <input name ="input" type ="checkbox" value ="val9"/> peanut
            <input name ="input" type ="checkbox" value ="val10"/> pepper
        </p>
        <p>
            <input name ="input" type ="checkbox" value ="val11"/> pineapple
            <input name ="input" type ="checkbox" value ="val12"/> strawberry
            <input name ="input" type ="checkbox" value ="val13"/> potato
            <input name ="input" type ="checkbox" value ="val14"/> tomato
            <input name ="input" type ="checkbox" value ="val15"/> watermelon
        </p>
        <p>
            <input name ="input" type ="checkbox" value ="val16"/> juice
            <input name ="input" type ="checkbox" value ="val17"/> bacon
            <input name ="input" type ="checkbox" value ="val18"/> beans
            <input name ="input" type ="checkbox" value ="val19"/> beer
            <input name ="input" type ="checkbox" value ="val20"/> bread
        </p>
        <p>
            <input name ="input" type ="checkbox" value ="val21"/> cheese
            <input name ="input" type ="checkbox" value ="val22"/> chicken
            <input name ="input" type ="checkbox" value ="val23"/> coffee
            <input name ="input" type ="checkbox" value ="val24"/> corn
            <input name ="input" type ="checkbox" value ="val25"/> eggs
        </p>
        <p>
            <input name ="input" type ="checkbox" value ="val26"/> fish
            <input name ="input" type ="checkbox" value ="val27"/> ham
            <input name ="input" type ="checkbox" value ="val28"/> honey
            <input name ="input" type ="checkbox" value ="val29"/> ketchup
            <input name ="input" type ="checkbox" value ="val30"/> milk
        </p>
        <p>
            <input name ="input" type ="checkbox" value ="val31"/> pasta
            <input name ="input" type ="checkbox" value ="val32"/> wine
            <input name ="input" type ="checkbox" value ="val33"/> vodka
            <input name ="input" type ="checkbox" value ="val34"/> yogurt
            <input name ="input" type ="checkbox" value ="val35"/> cream
        </p>
        <p>
            <input name ="input" type ="checkbox" value ="val36"/> onion
            <input name ="input" type ="checkbox" value ="val37"/> salmon
            <input name ="input" type ="checkbox" value ="val38"/> tea
            <input name ="input" type ="checkbox" value ="val39"/> cabbage
            <input name ="input" type ="checkbox" value ="val40"/> rice
        </p>
        <p>
            <input name ="input" type ="checkbox" value ="val41"/> butter
            <input name ="input" type ="checkbox" value ="val42"/> sausage
            <input name ="input" type ="checkbox" value ="val43"/> beef
            <input name ="input" type ="checkbox" value ="val44"/> strawberry
            <input name ="input" type ="checkbox" value ="val45"/> cucumber
        </p>
        <p>
            <input name ="input" type ="checkbox" value ="val46"/> water
            <input name ="input" type ="checkbox" value ="val47"/> sugar
            <input name ="input" type ="checkbox" value ="val48"/> salt
            <input name ="input" type ="checkbox" value ="val49"/> flour
            <input name ="input" type ="checkbox" value ="val50"/> pork
        </p>
    </div>
    <div id="submit">
        <p><input type="text" name="coord_x"> X coordinate</p>
        <p><input type="text" name="coord_y"> Y coordinate</p>
        <p class="budget">
            Budget
        <select name="case">
      <option value="default" disabled="disabled" selected="selected"></option>
      <option value="poor">low</option>
      <option value="rich">high</option>
      <option value="optimal">optimal</option>
</select>
<p>
<button class="button" type="submit" name="submit" value="Submit">Submit</button>
</p>
        </div>
</form>
</body>
</html>
