<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<select name="case">
      <option value="poor" selected="selected">poor</option>
      <option value="lazy" selected="selected"{% endif %}>First</option>
      <option value="optimal" selected="selected"{% endif %}>Second</option>
</select>
<a class="back" href ="{{ hr + rec}}" }> Submit </a>
<p><input name="hello" type="checkbox"  value="val1"/> product1 </p>
<p><input name="hello" type="checkbox"  value="val2"/> product2 </p>
<p><input name="hello" type="checkbox"  value="val3"/> product3 </p>
<p><input name="hello" type="checkbox"  value="val4"/> product4 </p>
<p><input name="type1" type="checkbox"  value="val5"/> product5 </p>

</body>
</html>